<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>102007304767-m9tfn95emv2npjt99o2qtr2qubsturls.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.102007304767-m9tfn95emv2npjt99o2qtr2qubsturls</string>
	<key>API_KEY</key>
	<string>AIzaSyDGP223UKpxqLgYBQAyJwUItL1-n9Mrn-A</string>
	<key>GCM_SENDER_ID</key>
	<string>102007304767</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.baalho.okaychata</string>
	<key>PROJECT_ID</key>
	<string>flutter-course-fcc</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-course-fcc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:102007304767:ios:fcc9066613c2114540fe8a</string>
</dict>
</plist>